body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f2f3f7;
  width: 100%;
  height: 100vh;
}

.navbar-container .navbar-top-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  width: 100%;
  margin: 20px 0px;
}

.navbar-container .navbar-top-section-wrapper h4 {
  margin: 5px 0px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.navbar-container .navbar-name-section-wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar-container .navbar-name-section-wrapper h1 {
  font-family: "Rowdies", cursive;
}

.navbar-container .picture-wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar-container .picture-wrapper img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.navbar-container .email-wrapper {
  margin: 20px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar-container .email-wrapper i {
  font-size: 0.8em;
  margin-right: 5px;
}

.navbar-container .email-wrapper a {
  font-size: 1em;
}

.navbar-container .email-wrapper a:hover {
  color: #007bff;
  text-decoration: underline;
  opacity: 0.5;
}

.navbar-container .links-wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
}

.navbar-container .links-wrapper a {
  margin-top: 10px;
  font-size: 1.3em;
  opacity: 0.7;
}

.navbar-container .links-wrapper a:hover {
  color: #007bff;
  text-decoration: underline;
  opacity: 0.5;
}

.navbar-container .social-wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
}

.navbar-container .social-wrapper i {
  margin: 20px;
  color: red;
  font-size: 2em;
}

@media (min-width: 320px) and (max-width: 1020px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-container {
    display: none;
  }
}

.responsive-nav {
  background-color: #f2f3f7;
}

.responsive-nav .hamburger {
  position: -webkit-sticky top 0;
  position: sticky top 0;
  display: none;
  z-index: auto;
}

.responsive-nav .hamburger i {
  padding: 5px;
  font-size: 1.5em;
  margin: 20px 10px;
}

.mobile-nav {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show .mobile-name-section-wrapper {
  justify-self: flex-start;
}

.show .mobile-name-section-wrapper h1 {
  margin-bottom: 10px;
  font-family: "Rowdies", cursive;
}

.show .mobile-picture-wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.show .mobile-picture-wrapper img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.show .mobile-email-wrapper {
  margin: 10px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.show .mobile-email-wrapper i {
  font-size: 1em;
  margin-right: 5px;
}

.show .mobile-email-wrapper a {
  font-size: 0.8em;
}

.show .mobile-email-wrapper a:hover {
  color: #007bff;
  text-decoration: underline;
  opacity: 0.5;
}

.show .mobile-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show .mobile-links-wrapper a {
  margin-top: 10px;
  font-size: 1em;
}

.show .mobile-links-wrapper a:hover {
  color: #007bff;
  text-decoration: underline;
  opacity: 0.5;
}

.show .mobile-social-wrapper i {
  margin: 20px;
  color: red;
  font-size: 2em;
}

@media (min-width: 1021px) {
  .show {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1020px) {
  .responsive-nav .hamburger {
    display: block;
  }
}

.right-side-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.right-side-container .buttons {
  position: absolute;
  top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.right-side-container .buttons button {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.right-side-container .buttons button i {
  font-size: 1.7em;
}

.right-side-container .buttons button:hover {
  background-color: #fff;
  color: #333;
}

.right-side-container .slider {
  position: relative;
  overflow: hidden;
  height: 60%;
  width: 100%;
}

.right-side-container .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.right-side-container .slider .slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
  z-index: 1;
}

.right-side-container .slider .slide .content h1 {
  margin-bottom: 10px;
}

.right-side-container .slider .slide .content a {
  text-decoration: underline;
  font-size: 1.1em;
}

.right-side-container .slider .slide .content a:hover {
  color: #007bff;
  text-decoration: underline;
  opacity: 0.5;
}

.right-side-container .slider .slide.current {
  opacity: 1;
}

.right-side-container .slider .slide.current .content {
  opacity: 1;
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  -webkit-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}

@media (max-width: 1020px) {
  .right-side-container .slider .right-side-container {
    height: 60vh;
  }
  .right-side-container .slider .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .right-side-container .slider .slide.current .content {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

.right-side-container .about-container {
  margin: 40px 15px 15px;
}

.right-side-container .about-container span {
  padding: 0 12px;
  margin-left: 30px;
  letter-spacing: 5px;
  display: inline-block;
  color: #555;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.right-side-container .about-container h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1, 8;
  padding: 0 12px;
  margin-left: 30px;
  letter-spacing: 5px;
}

.right-side-container .about-container .about-content-wrapper {
  margin-left: 20px;
  padding: 20px;
}

.right-side-container .about-container .about-content-wrapper p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

.right-side-container .about-container .about-content-wrapper p a {
  text-decoration: underline;
}

.right-side-container .interest-container {
  margin: 50px 15px 15px;
}

.right-side-container .interest-container span {
  padding: 0 12px;
  margin-left: 30px;
  letter-spacing: 5px;
  display: inline-block;
  color: #555;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.slide:first-child {
  background: url("../images/typing.jpeg") no-repeat center top/cover;
}

.slide:nth-child(2) {
  background: url("../images/code-img.png") no-repeat center top/cover;
}
/*# sourceMappingURL=index.css.map */